@use "../utils/" as *;

.list__container {
  margin-bottom: 1em;
  margin-right: .5em;
  margin-left: .5em;
  border-radius: 0.5em;
  padding-bottom: 3em;
  padding-top: 0.5em;
  height: fit-content;
  min-height: 10em;
  width: 20em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $board-color;
  .list__title {
    margin: 0.75em 0;
    text-align: center;
  }
  .list {
    padding: 0.5em 0.35em;
    min-height: 5em;
    min-width: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .list__new__task__button {
    margin: 0 auto;
    margin-top: auto;
    border-radius: 0.5em;
    width: 90%;
    display: inline-block;
    background: $add-new-task-color;
    &:hover {
      background: $add-new-task-color--hover;
    }
  }
}
