@use "../utils/" as *;

.header__container {
  margin: 1em auto;
  width: 100%;
  max-width: 1600px;
  // position: relative;
  .project__title {
    margin-top: 3em;
    margin-bottom: 1em;
    margin-left: 1em;
    font-size: 2.5em;
    &:focus {
      outline: none;
    }
  }

  .account__button {
    margin-top: 1em;
    margin-right: 1em;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.25em;
    padding-top: 0.5rem;
    padding-inline: 0.75rem;
    padding-bottom: 0.5rem;
    background-color: $board-color;
    transition: background-color 0.25s ease-in-out;
    &:hover {
      background-color: $add-new-task-color;
    }
  }
}
