@use "../utils/" as *;

.projects__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: rgba($bg-color, 0.2);
    .projects__modal__body {
      margin-top: 3em;
      border-radius: 1em;
      border-width: 2px;
      border-style: solid;
      border-color: $main-text-color;
      display: flex;
      flex-direction: column;
      height: fit-content;
      padding: 1em 3em;
      background: $board-color;
      min-height: 23em;
      width: 20em;
      .projects__modal__close__button {
        margin-left: auto;
        margin-right: -1em;
        margin-bottom: 2em;
        border: 2px solid transparent;
        border-radius: .25em;
        padding: 0em .15em;
        transition: border-color .1s ease-in-out;
        &:hover {
          border-color: $add-new-task-color;
        }
      }
      .projects__modal__head__text {
        margin-bottom: .5em;
        margin-inline: auto;
        text-align: center;
        font-size: 1.75em;
        height: 3em;
      }
      .projects__modal__main__input {
        margin-bottom: .5em;
        margin-top: .5em;
        font-size: 1em;
        padding: 0.2em 0.5em;
        background: $bg-color;
        border: none;
        border-radius: 1em;
        outline: 2px solid transparent;
        transition: outline-color .25s ease-in-out;
        &:focus {
        outline-color: $add-new-task-color;
        }
      }
      .projects__modal__alert {
        margin: 0 auto;
        margin-top: .5em;
        padding-top: .35em;
        padding-bottom: .35em;
        padding-right: .5em;
        padding-left: .5em;
        border-radius: .5em;
        background: $project-alert-color;
      }
      .projects__theme__color__btn__group {
        font-size: 0.75em;
      }
      .project__type__button__group {
        font-size: 0.75em;
        margin-bottom: 3em;
      }
      .project__delete__button {
        margin-top: 1em;
        margin-inline: auto;
        border-radius: .3em;
        width: fit-content;
        color: $project-remove-color;
        transition: background-color .2s ease-in-out;
        &:hover {
          background-color: rgba($project-remove-color, 0.2);
        }
      }
      .projects__main__button {
        margin-top: auto;
        margin-bottom: 1em;
        border-radius: 0.5em;
        background: $add-new-task-color;
        transition: background-color .15s ease-in-out;
        &.account__submit__button {
          margin-top: 2em;
        }
        &:hover {
          background-color: $add-new-task-color--hover;
        }
      }
      .account__login__form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .account__login__form__label {
        margin-right: auto;
      }
    }
    &.hide {
      display: none;
    }
    @include fadein(300ms);
    @include fadeout(250ms);
  }