@use "../utils/" as *;
.projects__container {
  margin-top: 1em;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-start;
  width: fit-content;
  height: 4em;
  &__list__container {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5em;
    // margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
    text-align: center;
    background-color: $board-color;
    flex: 2;
  }
  &__add__new__button {
    padding-top: .5rem;
    // margin-top: auto;
    margin-bottom: auto;
    margin-left: .75em;
  }
  &__settings__button {
    padding-top: .5rem;
    // margin-top: auto;
    margin-bottom: auto;
  }
  &__button {
    padding: 0;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    background: $board-color;
    &__item {
      margin: 0;
      padding: 0;
      font-size: 0.85em;
      button {
        text-align: left;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        padding-top: 0.75em;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        &:hover {
          border-bottom-color: $main-text-color;
        }
      }
    }
  }
}


