@use "../utils/" as *;

.list__item {
  margin: 0 auto;
  margin-bottom: 0.75em;
  border-radius: 0.5em;
  padding: 0.35em;
  width: 100%;
  display: grid;
  grid-template-areas: "desc desc" ". btn";
  align-items: center;
  cursor: grab;
  &.dragging {
    opacity: 0.5;
  }
  &.dragging__temp {
    position: absolute;
    margin: 0;
    pointer-events: none;
  }
  &.remove__ready {
    background-color: $task-remove-color;
  }
  
  &__title {
    margin-bottom: 0.75em;
    grid-area: title;
  }

  &__desc {
    margin: 0 auto;
    margin-bottom: 0.25em;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(#000, 0.2);
    border-radius: 0.25em;
    padding: 0.25em;
    max-width: 275px;
    min-width: 100%;
    grid-area: desc;
    word-wrap: break-word;
    cursor: text;
    &:focus {
      border-color: rgba(#000, 0.4);
      outline: none;
    }
    &:empty:not(:focus)::before {
      content: "enter task";
    }
    &[contenteditable="true"] {
      cursor: text
    }
  }

  &__color__btn{
    margin-inline: .15em;
    height: .8em;
    width: 1em;
    border-radius: .5em;
    &.current__task__color {
      box-shadow: 0 0 .2em #000;
    }
  }


  &__btn {
    margin-left: auto;
    margin-right: 1em;
    width: 2em;
    font-size: 1em;
    grid-area: btn;
  }

  @include fadein(500ms)

  // &__edit {
  //   grid-area: btn;
  // }

  // &__delete {
  //   grid-area: btn;
  // }
}
