* {
    box-sizing: border-box;
}

body {
    color: #eee;
    background: #010101;
    font-size: 1.25rem;
    line-height: 1.15;
    letter-spacing: .1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
}

button {
    background: transparent;
    font-size: 1.25em;
    border: none;
    color: #eee;
    padding: .25em .45em;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.header__container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.main__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.project__title {
    font-size: 2.5em;
    margin-left: 1em;
}

.list__container {
    background: #101010;
    min-height: 400px;
    width: 350px;  
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list__title {
    margin: .75em 0;
    text-align: center;
}

.list {
    list-style: none;
    min-height: 2em;
    min-width: 90%;
    max-width: 90%;
    padding: .5em .35em;
}

.list__item {
    display: grid;
    background: rgba(55, 150, 200, .5);
    padding: .35em;
    border-radius: .5em;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: .75em;
    grid-template-areas: "title title title" "desc desc desc" ". . delete";
    align-items: center;
    cursor: grab;
}

.list__item.dragging {
    opacity: .5;
}

.list__item__title {
    grid-area: title;
    margin-bottom: .75em;
}

.list__item__desc {
    word-wrap: break-word;
    max-width: 275px;
    min-width: 100%;
    padding: .25em;
    grid-area: desc;
    margin: 0 auto;
    margin-bottom: .25em;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: .25em;
    cursor: text;
}

.list__item__btn {
    font-size: 1em;
    width: 2em;
    background: #010101;
    margin-left: auto;
}

.list__item__edit {
    grid-area: edit;
}

.list__item__delete {
    grid-area: delete;
}

.list__new__task__button {
    margin: 0 auto;
    display: inline-block;
    width: 90%;
    background: rgba(1,1,1, .2)
}