$bg-color: #fef9ef;
$main-text-color: #463f3a;
$task-color: rgba(55, 150, 200, 0.5);
$board-color: #eddcd2;
$project-alert-color: rgba(1, 1, 1, 0.05);
$add-new-task-color: rgba(1, 1, 1, 0.2);
$add-new-task-color--hover: rgba(1, 1, 1, 0.3);

$small: 400px;
$medium: 800px;
$large: 1200px;