$bg-color: #fef9ef;
$main-text-color: #463f3a;
$task-color-1: #82AECA;
$task-color-2: #ec7c7c;
$task-color-3: #F6D285;
$task-color-4: #99DA75;
$task-remove-color: #eb342b;
$project-remove-color: rgb(201, 75, 53);
$board-color: #eddcd2;
$project-alert-color: #E1D1C7;
$add-new-task-color: #cfc0b8;
$add-new-task-color--hover: #b3a59d;

$small: 400px;
$medium: 800px;
$large: 1200px;