$bg-color: #fef9ef;
$main-text-color: #463f3a;
$task-color-1: #91B8CC;
$task-color-2: #E87671;
$task-color-3: #8ADB79;
$task-color-4: #CC9FC2;
$task-remove-color: #eb342b;
$project-remove-color: rgb(201, 75, 53);
$board-color: #eddcd2;
$project-alert-color: #E1D1C7;
$add-new-task-color: #cfc0b8;
$add-new-task-color--hover: #b3a59d;

$small: 400px;
$medium: 800px;
$large: 1200px;